@import url(./base/color.less);
@import url(./base/transition.less);

.ct-toast-wrapper {
  position: fixed;
  z-index: 999;
  overflow: hidden;
  background-color: @info-bg-color;
  border-radius: 5px;
  padding: 8px 15px;
  min-width: 380px;
  width: fit-content;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;

  .ct-toast-content {
    padding: 0;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    width: 100%;
  }
}

.ct-toast-info .ct-toast-content {
  color: @info-font-color;
}

.ct-toast-success {
  background-color: @success-bg-color;

  .ct-toast-content {
    color: @success-font-color;
  }
}

.ct-toast-warning {
  background-color: @warning-bg-color;

  .ct-toast-content {
    color: @warning-font-color;
  }
}

.ct-toast-error {
  background-color: @error-bg-color;

  .ct-toast-content {
    color: @error-font-color;
  }
}
