.fade-vertical-enter,
.fade-vertical-leave-to {
  transform: translateY(-100%);
}

.fade-vertical-enter-active,
.fade-vertical-leave-active {
  transition: transform 0.4s;
}

.fade-scale-enter,
.face-scale-leave-to {
  transform: scale(0);
}

.fade-scale-enter-active,
.fade-scale-leave-active {
  transition: transform 0.7s;
}
